
/* 
/* *, html, body { /* Uncomment after project is complete
  margin: 0 auto;
  padding: 0;
} 
*/

body {
  /* margin: 50px auto 0px;*/
  font-family: Georgia, 'Times New Roman', Times, san-serif;
  box-sizing: border-box;
}

/************************* calculator outline *************************/
.calculator-outer-div {
  border: solid black 1px;
  width: 300px;
  height: 500px; 
}
/******************** where calculations will show ********************/
.display-div {
  margin: 0;
  padding: 0;
  background-color: 	#e5e5e5;
  width: 300px; 
  height: 150px;
}
.display-output {
  height: 40px;
}
/************************* calculator info "tab" *************************/
.calculator-title-div, .options-button-div {
  display: inline-block;
  margin: 0;
}
.calculator-title-div {
  width: 80%;
}
#calculator {
  padding-left: 5px;
  font-size: 15px;
}
.options-button-div {
  width: 18%;
  margin: 0;
  padding: 0;
}
.calculator-title, .minimize-button-div, .maximize-button-div, .close-button-div {
  display: inline-block;
  font-size: 12px;
  margin: 0;
}
.minimize-button-div, .maximize-button-div, .close-button-div {
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: yellow;
  /*height: 20px;*/
}
.minimize-button-div {
  /* margin: 0px; */
}
#minimize {
  font-weight: bold;
  padding: 4px 2px;
}
.maximize-button-div {
  /* padding: 0px; */
}
#maximize {
  font-size: 16px;
}
.close-button-div {
}
#close {
  font-size: 14px;
}
/************************* where calculations will show *************************/
.display-output {
  text-align: right;
  font-size: 40px;
  position: relative;
  top: 75px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.numbers-div {
  position: relative;
  background-color: #e5e5e5;
  margin-top: -1px; /**/
}
.row-one, .row-two, .row-three, .row-four, .row-five, .row-six {
  width: 24%;
  font-size: 25px;
  text-align: center;
  margin: 2px auto;
  padding: 13px 0px;
}
.row-one, .row-two, .row-six {
  background-color: aliceblue;
}
.all-clear-button {
  width: 148px;
}
.row-six {
  margin-bottom: 3px;
}
.modulo-div, .all-clear-button, .clear-entry, .delete-button {
  display: inline-block;
}
.fraction, .square-root-div, .x-squared-div, .division {
  display: inline-block;
}
.seven, .eight, .nine, .multiply {
  display: inline-block;
}
.four, .five, .six, .subtraction {
  display: inline-block;
}
.one, .two, .three, .addition {
  display: inline-block;
}
.plus-minus, .zero, .decimal, .equal-sign {
  display: inline-block;
}
.number {
  background-color: bisque;
}
.non-number {
  background-color: aliceblue;
}
.button-options:hover {
  background-color: lightgrey;
  transition: 0.1s;
}
.key:hover {
  background-color: #ffb367;
  transition: 0.1s;
}
